body {
    #app {
        .container {
            .row {
                .pokehome {
                    height: 25vh;
                    border: 1px solid #ddd;

                    img {
                        height: 100%;
                        display: block;
                        margin: auto;
                    }

                    span {
                        color: #ddd;
                        font-size: 10px;
                        position: absolute;
                        top: 0;
                    }
                }
                .active {
                    border: 3px solid #dc3545;
                    background-image: url(../images/ash.png);
                    background-size: 4rem;
                    background-repeat: no-repeat;
                    background-position: center;

                    img {
                        display: none;
                    }
                }
                .score {
                    padding-top: 2rem;

                    p {
                        font-size: 10px;
                        margin-bottom: 1.5rem;
                    }
                    span {
                        text-align: center;
                        font-family: "Pangolin", cursive;
                    }
                    h1 {
                        &.score-value {
                            text-align: center;
                            font-size: 10rem;
                            font-family: "Press Start 2P", cursive;
                        }
                    }
                }
            }
        }
    }
}
